export(Oyster_accumulation)
export(Oyster_Convert_cross_section)
export(Oyster_Export)
export(Oyster_incr_cross_section)
export(Oyster_Mass_gain)
export(Oyster_ellipse_parameters)
export(Oyster_Shell_thickness)
export(Oyster_subincr_av_thickness)
export(Oyster_subincr_av_thickness_X)
export(Oyster_subincr_area)
export(Oyster_Volumes)
export(Oyster_Z_matrices)
export(Oyster_combined_run)
export(Oyster_el_time)
export(Oyster_growth_run)
export(Oyster_import_BMP)
export(Oyster_import_TIF)
export(Oyster_import_phases)
export(Oyster_incr_area)
export(Oyster_phase_export)
export(Oyster_phase_matrix_BMP)
export(Oyster_phase_matrix_TIF)
export(Oyster_phase_run)
export(Oyster_phase_stats)
export(Oyster_plot_incr_CS)
export(Oyster_plot_incr_fill)
export(Oyster_plot_cross_section)
export(Oyster_run_sec2)
export(Oyster_run_sec3)
export(Oyster_run_sec4)
export(Oyster_run_sec5)
export(Oyster_run_sec6)
export(Oyster_subincr_phases)
export(Oyster_Shell_height)
export(Oyster_subincr_shell_height)
export(pma)
importFrom("grDevices", "dev.new", "heat.colors")
importFrom("graphics", "lines", "par", "plot", "polygon", "text")
importFrom("stats", "heatmap")
importFrom("utils", "read.csv", "write.table")